{% extends "base.html"%}

<head>
    <title>Home</title>
</head>

{% block content %}
    <div id="app-container">
        <h1>Home</h1>
    
        <div id="main-container">  <!--container persists on all pages (main-container)-->
            <div id="sidebar" class="column">  <!--container persists on all pages (sidebar)-->
            
                <!-- Pill Folder Example -- chunk can be removed-->
                <div class= "pill-box exampleItem">
                    A Pill Box
                </div>
                <div class= "pill-box exampleItem">
                    A Pill Box: The Sequel
                </div>
                <!-- Pill Folder Example -->
                
            </div>  <!--container persists on all pages (/sidebar)-->

            <!-- Content Portion of Page)-->
            <div id="main-content">
                Shit goes here...
        
            </div>  

        </div>  <!--container persists on all pages (/main-containter)-->
    </div>  
{% endblock %}