{% extends "base.html"%}

{% block title %}My Notes{% endblock %}

{% block content %}
    <div id="app-container">
        <div style="display: inline-block">
            <h1 style="display: inline-block;">Home</h1>

            <input type="text" id="search-bar" placeholder="Search notes..." oninput="searchNotes()" style="display: inline-block;">

            <div id="logout-button" class="pill-box" style="display: inline-block">
                <a href="/" class="small-text">Logout</a>
            </div>

        </div>


        <div id="main-container">
            <div id="sidebar" class="column">
                <div class=hotbar>
                    <b>My Notes</b>
                </div>
                <a href="#all"
                id="full-directory-folder" 
                class="pill-box folder" 
                onclick="showAllNotes()">
                    All Notes
                </a>

                {% for folder in folders %} 
                    <a href="#{{ folder.folder_name }}"
                    class="pill-box folder"
                    onclick="showFolderNotes('{{ folder.folder_id }}', this)">
                        {{ folder.folder_name }}
                    </a>
                {% endfor %}

                <div id="new-folder-container" class="pill-box">
                    <div class="pill-box" style="position:relative; background-color:white; position:absolute; left:9px; margin-top:10px; border-radius:3px; width:2px; padding:0;"></div>
                    <form id="new-folder-text-box" method="post">
                        {{ form1.hidden_tag() }}
                        {{ form1.new_folder_name(size=32, placeholder="Name New Folder", required=true) }}
                    </form>
                    <button id="new-folder-button" class="pill-box" onclick="submitFolderForm()">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

 
            <div id="notes-directory" class="column">
                <div class=hotbar>

                    <select id="sort-by-button" class="pill-box" onchange="sortNotes()">
                            <option value="date-edited">Date Edited</option>
                            <option value="date-created">Date Created</option>
                            <option value="title">Title</option>
                    </select>

                    <form id="new-note-submit-button" method="post">     <!-- newNoteForm ID not customized -->
                        {{ form2.hidden_tag() }}
                        <button type="submit" style="display: none;">Submit</button>
                        <input type="hidden" id="theFolderId" value="targetFolderId">
                    </form>
                    <button id="create-note-button" class="pill-box hotbar-button" onclick="submitNoteForm(targetFolderId)">
                        <i class="fas fa-plus"></i>
                    </button>

                </div>

               
                {% for note in notes %}
                    <!--class="pill-box note" -->
                    <a class="note item" 
                    data-userID="{{ note.user_id}}"
                    data-noteId="{{ note.note_id}}"
                    data-title="{{ note.note_content.splitlines()[0] }}" 
                    data-content="{{ note.note_content }}"
                    data-createdAt="{{ note.created_at }}" 
                    data-modifiedAt="{{ note.modified_at }}" 
                    data-folderId="{{ note.folder_id }}"
                    onclick="showNoteContent(this, '{{ note.note_content }}', '{{ note.note_content.splitlines()[0] }}')">
                    </a>
                {% endfor %}

                <div id="notes-container"></div>
            </div>

            <div id="main-content">
                <div class=hotbar>
                    <b><div id="current-note-title">
                    Note
                    </div></b>

                    <!--Insert Audio Button-->
                    <a id="insert-audio-button" class="pill-box hotbar-button" onclick="openAudioUploader()">
                        Insert Audio
                    </a>
                    <!--Insert Photo Button-->
                    <a id="insert-photo-button" class="pill-box hotbar-button" onclick="openFileUploader()">
                        Insert Photo
                    </a>
                    <!--Split View Button-->
                    <a id="split-view-button" class="pill-box hotbar-button" onclick="toggleSplitScreen()">Split View</a>
                    
                </div></b>
                
                <div id="current-note">
                </div>
                
                <input type="file" id="file-input" style="display: none;" onchange="handleFileUpload()">
                <input type="file" id="audio-input" style="display: none;" accept="audio/*" onchange="handleAudioUpload()">
            </div>

            <div id="side-content"> <!-- hidden by default-->
                <b><div id="second-note-title" class=hotbar>
                    My Other Note
                </div></b>
                
                <div id="second-note">
                </div>
            </div>

        </div> 
    </div> 

    
    <script>
        function openFileUploader() {
            const fileInput = document.getElementById('file-input');
            fileInput.click();
        }

        function handleFileUpload() {
            const fileInput = document.getElementById('file-input');
            const selectedFile = fileInput.files[0];

            if (selectedFile) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const imageData = e.target.result;
                    displayImageInNoteContent(imageData);
                };
                reader.readAsDataURL(selectedFile);
            }
        }
        
        function displayImageInNoteContent(imageData) {
            const noteContent = document.getElementById('current-note');
            // Create an img element
            const imageElement = document.createElement('img');
            // Set the image source to the base64 data
            imageElement.src = imageData;
            // Append the image to the note content
            noteContent.appendChild(imageElement);
        }

        function openAudioUploader() {
            const audioInput = document.getElementById('audio-input');
            audioInput.click();
        }

        function handleAudioUpload() {
            const audioInput = document.getElementById('audio-input');
            const selectedAudio = audioInput.files[0];

            if (selectedAudio) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const audioData = e.target.result;
                    displayAudioInNoteContent(audioData);
                };
                reader.readAsDataURL(selectedAudio);
            }
        }

        function displayAudioInNoteContent(audioData) {
            const noteContent = document.getElementById('current-note');
            // Create an audio element
            const audioElement = document.createElement('audio');
            // Set the audio source to the base64 data
            audioElement.src = audioData;
            // Set controls to allow playback
            audioElement.controls = true;
            // Append the audio element to the note content
            noteContent.appendChild(audioElement);
        }

        var notesArray = [];
        {% for note in notes %}
            var noteObject = {
                userID: "{{ note.user_id }}",
                noteId: "{{ note.note_id }}",
                title: "{{ note.note_content.splitlines()[0] }}",
                content: "{{ note.note_content }}",
                createdAt: "{{ note.created_at }}",
                modifiedAt: "{{ note.modified_at }}",
                folderId: "{{ note.folder_id }}"
            };
            notesArray.push(noteObject);
        {% endfor %}
        console.log(notesArray);

        /* Note Show/Hide --------------------------------------------------------- */
        var targetFolderId = null
        function showAllNotes() {
            targetFolderId = null
            updateHTML();
        }
        function showFolderNotes(id, clickedFolder) {   
            targetFolderId = id;
            resetFolderAppearance();
            clickedFolder.classList.add('outline')
            updateHTML();
        }
        function resetFolderAppearance() {
            var allFolders = document.querySelectorAll('.folder');
            allFolders.forEach(function(folder) {
                folder.classList.remove('outline');
            });
        }
        function searchNotes() {
            updateHTML();
        }
        /* Note Show/Hide END ----------------------------------------------------- */

        /* Content ---------------------------------------------------------------- */
        var secondNoteLastSet = false
        function showNoteContent(selectedNote, content, noteTitle) {
            var noteContainer = document.getElementById('current-note');
            var secondNoteContainer = document.getElementById('second-note');
            var sideContentContainer = document.getElementById('side-content');

            if (sideContentContainer.style.display === 'block' && !secondNoteLastSet) {
                secondNoteContainer.innerHTML = ` 
                    <textarea class="note-body">${content}</textarea>`; 
                content;
                secondNoteLastSet = true;
            } else {
                noteContainer.innerHTML = ` 
                    <textarea class="note-body">${content}</textarea>`; 
                secondNoteLastSet = false;
            }
        }
        function toggleSplitScreen() {
            const secondNoteContainer = document.getElementById('side-content');
            secondNoteContainer.style.display = (secondNoteContainer.style.display === 'block') ? 'none' : 'block';
        }
        function saveNote() {
            var noteContent = document.querySelector('.note-body').value; // Get the content from the textarea
            
            updateHTML();
            console.log('Saving note:', noteContent);
        }
        /* Content END ------------------------------------------------------------ */

        /* Sorting ---------------------------------------------------------------- */
        var isOrderAsc = true;
        function toggleAscDesc() {
            isOrderAsc = !isOrderAsc;
        }
        function sortNotes() {
            const selectedOption = document.getElementById("sort-by-button").value;
            switch (selectedOption) {
                case "date-edited":
                    sortByDateEdited();
                    break;
                case "date-created":
                    sortByDateCreated();
                    break;
                case "title":
                    sortByTitle();
                    break;
                default:
                    sortByDateEdited();
            }
            updateHTML();
        }
        function sortByDateEdited() {
            notesArray.sort((a, b) => {
                return new Date(b.modifiedAt) - new Date(a.modifiedAt);
            });
        }
        function sortByDateCreated() {
            notesArray.sort((a, b) => {
                return new Date(b.createdAt) - new Date(a.createdAt);
            });
        }
        function sortByTitle() {
            notesArray.sort((a, b) => {
                return a.title.localeCompare(b.title, 'en', { sensitivity: 'base' });
            });
        }
        sortNotes();
        /* Sorting END ------------------------------------------------------------ */

        function updateHTML() {
            var searchInput = document.getElementById('search-bar').value.toLowerCase();
            const container = document.getElementById('notes-container');
            container.innerHTML = '';
            notesArray.forEach(note => {   
                var noteContent = note.content.toLowerCase(); 
                if ((targetFolderId === null || note.folderId === targetFolderId) && (noteContent.includes(searchInput) || searchInput === '')) {
                    const noteObject = document.createElement('div');
                    noteObject.innerHTML = `
                        <a class="pill-box note item"    
                        data=-userID"${note.userID}"                     
                        data-noteId="${note.noteId}"
                        data-title="${note.title}" 
                        data-content="${note.content}"
                        data-createdAt="${note.createdAt}" 
                        data-modifiedAt="${note.modifiedAt}" 
                        data-folderId="${note.folderId}"
                        onclick="showNoteContent(this, '${note.content}')">
                        ${note.title}
                    `;
                    container.appendChild(noteObject); 
                }
            });
        }
        /*updateHTML();*/

        function submitFolderForm() {
            document.getElementById("new-folder-text-box").submit();
            updateHTML();
        }

        function submitNoteForm(folderId) {
            document.getElementById("folder_id").value = folderId;
            document.getElementById("new-note-submit-button").submit();
            updateHTML();
        }
    </script>

    <script src="https://kit.fontawesome.com/bf520e6492.js" crossorigin="anonymous"></script> 

{% endblock %}