{% extends "base.html"%}

{% block title %}My Notes{% endblock %}

{% block content %}
    <div id="app-container">
        <div style="display: inline-block">
            <h1 style="display: inline-block;">Home</h1>

            <input type="text" id="search-bar" placeholder="Search notes..." oninput="searchNotes()" style="display: inline-block;">

            <div id="logout-button" class="pill-box" style="display: inline-block">
                <a href="/" class="small-text">Logout</a>
            </div>

        </div>


        <div id="main-container">
            <div id="sidebar" class="column">
                <div class=hotbar>
                    <b>My Notes</b>
                </div>

                <a href="#all" id="full-directory-folder" 
                class="pill-box folder" 
                onclick="showAllNotes()">
                    All Notes
                </a>

                {% for folder in folders %}
                    <a href="#{{ folder.folder_name }}" 
                    class="pill-box folder" 
                    onclick="showFolderNotes('{{ folder.folder_id }}')">
                        {{ folder.folder_name }}
                    </a>
                {% endfor %}

                <div id="new-folder-container" class="pill-box">
                    <div class="pill-box" style="position:relative; background-color:white; position:absolute; left:9px; margin-top:10px; border-radius:3px; width:2px; padding:0;"></div>
                    <form id="new-folder-text-box" method="post">
                        {{ form1.hidden_tag() }}
                        {{ form1.new_folder_name(size=32, placeholder="Name New Folder", required=true) }}
                    </form>
                    <button id="new-folder-button" class="pill-box" onclick="submitFolderForm()">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

 
            <div id="notes-directory" class="column">
                <div class=hotbar>

                    <select id="sort-by-button" class="pill-box" onchange="sortNotes()">
                            <option value="date-edited">Date Edited</option>
                            <option value="date-created">Date Created</option>
                            <option value="title">Title</option>
                    </select>

                    <form id="new-note-submit-button" method="post">     <!-- newNoteForm ID not customized -->
                        {{ form2.hidden_tag() }}
                        <button type="submit" style="display: none;">Submit</button>
                    </form>
                    <button id="create-note-button" class="pill-box hotbar-button" onclick="submitNoteForm()">
                        <i class="fas fa-plus"></i>
                    </button>

                </div>

               
                {% for note in notes %}
                    <!--class="pill-box note" -->
                    <a class="note item" 
                    data-userID="{{ note.user_id}}"
                    data-noteId="{{ note.note_id}}"
                    data-title="{{ note.note_content.splitlines()[0] }}" 
                    data-content="{{ note.note_content }}"
                    data-createdAt="{{ note.created_at }}" 
                    data-modifiedAt="{{ note.modified_at }}" 
                    data-folderId="{{ note.folder_id }}"
                    onclick="showNoteContent(this, '{{ note.note_content }}')">
                    <!--
                        <p>ID: {{ note.note_id }}</p>
                        <p>Title: {{ note.note_content.splitlines()[0] }}</p>
                        <p>Content: {{ note.note_content }}</p>
                        <p>Date Created: {{ note.created_at }}</p>
                        <p>Date Modified: {{ note.modified_at }}</p>
                        <p>Folder ID: {{ note.folder_id }}</p>
                    -->
                    </a>
                {% endfor %}

                <div id="notes-container"></div>
            </div>

            <div id="main-content">
                <div class=hotbar>
                    <b><div id="current-note-title">
                    Note
                    </div></b>
                    <!--Split View Button-->
                    <a id="split-view-button" class="pill-box hotbar-button" onclick="toggleSplitScreen()">Split View</a>
                </div></b>
                
                <div id="current-note">
                </div>

            </div>

            <div id="side-content"> <!-- hidden by default-->
                <b><div id="second-note-title" class=hotbar>
                    My Other Note
                </div></b>
                
                <div id="second-note">
                </div>
            </div>

        </div> 
    </div> 

    
    <script>
        var notesArray = [];
        {% for note in notes %}
            var noteObject = {
                userID: "{{ note.user_id }}",
                noteId: "{{ note.note_id }}",
                title: "{{ note.note_content.splitlines()[0] }}",
                content: "{{ note.note_content }}",
                createdAt: "{{ note.created_at }}",
                modifiedAt: "{{ note.modified_at }}",
                folderId: "{{ note.folder_id }}"
            };
            notesArray.push(noteObject);
        {% endfor %}
        console.log(notesArray);

        /* Note Show/Hide --------------------------------------------------------- */
        var targetFolderId = null
        function showAllNotes() {
            targetFolderId = null
            updateHTML();
        }
        function showFolderNotes(id) {   
            targetFolderId = id;
            updateHTML();
        }
        function searchNotes() {    /* WIP */
            var searchInput = document.getElementById('search-bar').value.toLowerCase();
            notesArray.forEach(note =>  {
                var noteContent = note.content.toLowerCase();
                if (noteContent.includes(searchInput)) {
                    
                } else {
                    
                }
            })
        }
        function searchNotes() {     /* WIP */
            var searchInput = document.getElementById('search-bar').value.toLowerCase();
            notesArray.forEach(note => {
                var noteContent = note.content.toLowerCase();
                var noteElement = document.querySelector(`[data-noteId="${note.noteId}"]`);
                if ((noteContent.includes(searchInput) || searchInput === '') &&
                    (targetFolderId === null || note.folderId === targetFolderId)) {
                    noteElement.style.display = 'block';
                } else {
                    noteElement.style.display = 'none';
                }
            });
            updateHTML();
        }
        /* Note Show/Hide END ----------------------------------------------------- */

        /* Content ---------------------------------------------------------------- */
        var secondNoteLastSet = false
        function showNoteContent(selectedNote, content) {
            var noteContainer = document.getElementById('current-note');
            var secondNoteContainer = document.getElementById('second-note');
            var sideContentContainer = document.getElementById('side-content');

            if (sideContentContainer.style.display === 'block' && !secondNoteLastSet) {
                secondNoteContainer.innerHTML = ` 
                    <textarea class="note-body">${content}</textarea>`; 
                content;
                secondNoteLastSet = true;
            } else {
                noteContainer.innerHTML = ` 
                    <textarea class="note-body">${content}</textarea>`; 
                secondNoteLastSet = false;
            }
        }
        function toggleSplitScreen() {
            const secondNoteContainer = document.getElementById('side-content');
            secondNoteContainer.style.display = (secondNoteContainer.style.display === 'block') ? 'none' : 'block';
        }
        /* Content END ------------------------------------------------------------ */

        /* Sorting ---------------------------------------------------------------- */
        var isOrderAsc = true;
        function toggleAscDesc() {
            isOrderAsc = !isOrderAsc;
        }
        function sortNotes() {
            const selectedOption = document.getElementById("sort-by-button").value;
            switch (selectedOption) {
                case "date-edited":
                    sortByDateEdited();
                    break;
                case "date-created":
                    sortByDateCreated();
                    break;
                case "title":
                    sortByTitle();
                    break;
                default:
                    sortByDateEdited();
            }
            updateHTML();
        }
        function sortByDateEdited() {
            notesArray.sort((a, b) => {
                return new Date(b.modifiedAt) - new Date(a.modifiedAt);
            });
        }
        function sortByDateCreated() {
            notesArray.sort((a, b) => {
                return new Date(b.createdAt) - new Date(a.createdAt);
            });
        }
        function sortByTitle() {
            notesArray.sort((a, b) => {
                return a.title.localeCompare(b.title, 'en', { sensitivity: 'base' });
            });
        }
        sortNotes();
        /* Sorting END ------------------------------------------------------------ */

        function updateHTML() {
            const container = document.getElementById('notes-container');
            container.innerHTML = '';
            notesArray.forEach(note => {    
                console.log(note.folderId)
                console.log(targetFolderId)
                if (targetFolderId === null || note.folderId === targetFolderId) {
                    const noteObject = document.createElement('div');
                    noteObject.innerHTML = `
                        <a class="pill-box note item"    
                        data=-userID"${note.userID}"                     
                        data-noteId="${note.noteId}"
                        data-title="${note.title}" 
                        data-content="${note.content}"
                        data-createdAt="${note.createdAt}" 
                        data-modifiedAt="${note.modifiedAt}" 
                        data-folderId="${note.folderId}"
                        onclick="showNoteContent(this, '${note.content}')">
                        ${note.title}
                    `;
                    container.appendChild(noteObject); 
                }
            });
        }
        updateHTML();

        function submitFolderForm() {
            document.getElementById("new-folder-text-box").submit();
        }

        function submitNoteForm() {
            document.getElementById("new-note-submit-button").submit();
        }

        /*
        document.getElementById('create-note-button').addEventListener('click', function() {
            document.getElementById('newNoteSubmitButton').click();
        });
        */
    </script>




    <!-- FROM home_blank.html <script> -->
        <script src="https://kit.fontawesome.com/bf520e6492.js" crossorigin="anonymous"></script> 


        <script>
            const addBtn = document.getElementById("create-note-button");   //const addBtn = document.querySelector("#create-note-button"); 
            const noteBody = document.getElementById("#current-note");  //second-note     //sconst main = document.querySelector("#main"); 
            
            addBtn.addEventListener("click", function () { 
                addNote(); 
            }); 


            
            const saveNotes = () => {  
                const notes = document.querySelectorAll(".note .content");
                const titles = document.querySelectorAll(".note .title");
            
                const data = []; 
            
                notes.forEach((note, index) => { 
                    const content = note.value; 
                    const title = titles[index].value; 
                    console.log(title); 
                    if (content.trim() !== "") { 
                        data.push({ title, content }); 
                    } 
                });

                const titlesData = data.map((item) => item.title); 

                console.log(titlesData); 
                localStorage.setItem("titles", JSON.stringify(titlesData)); 
            
                const contentData = data.map((item) => item.content); 
                localStorage.setItem("notes", JSON.stringify(contentData)); 
            }; 



            const addNote = (text = "", title = "") => { 
                const note = document.createElement("div"); 
                note.classList.add("note"); 
                note.innerHTML = ` 
                    <div class="icons"> 
                        <i class="save fas fa-save" 
                            style="color:blue"> 
                        </i> 
                        <i class="trash fas fa-trash" 
                            style="color:grey"> 
                        </i>  
                    </div> 
                    <div class="title-div"> 
                        <textarea class="title" 
                            placeholder="Write the title ...">${title} 
                        </textarea> 
                    </div> 
                    <textarea class="content" 
                        placeholder="Note down your thoughts ...">${text} 
                    </textarea>
                    `; 


                function trashCan() { 
                    note.remove(); 
                    saveNotes(); 
                } 
                function saveIcon() { 
                    saveNotes(); 
                } 

                const deleteB = note.querySelector(".trash"); 
                const saveB = note.querySelector(".save"); 
                const textareas = note.querySelectorAll("textarea"); 
            
                deleteB.addEventListener("click", trashCan); 
                saveB.addEventListener("click", saveIcon); 
            
                //noteBody.appendChild(note); 
                saveNotes(); 
            }; 

            /* NOT USABLE
            function loadNotes() {                          /* should not use local storage 
                const titlesData = JSON.parse(localStorage.getItem("titles")) || []; 
                const contentData = JSON.parse(localStorage.getItem("notes")) || []; 
                    
                for (let i = 0; i < Math.max(titlesData.length, contentData.length); i++) {  
                    addNote(contentData[i], titlesData[i]); 
                } 
            } 
            loadNotes();
            */

        </script>

    <!-- FROM home_blank.html <script> END -->

{% endblock %}