{% extends "home_blank.html"%}

<title>My Notes</title>

{% block content %}
    <div id="app-container">
        <div style="display: inline-block;">
            <h1 style="display: inline-block;">Home</h1>

            <input type="text" id="search-bar" placeholder="Search notes..." oninput="searchNotes()" style="display: inline-block;">

            <div id="logout-button" style="display: inline-block;">
                <a href="/" class="small-text">Logout</a>
            </div>
            <div class="split-buttons">
                <button id="split-screen-button" onclick="toggleSplitScreen()">Toggle Split Screen</button>
                <button id="exit-split-screen-button" onclick="exitSplitScreen()">Exit Split Screen</button>
            </div>
        </div>
        <div class="split-container">
            <div class="split-content">    
                
                <div id="main-container">
                    <div id="sidebar" class="column">
                        <div class=hotbar>
                            <b>My Notes</b>
                        </div>

                        <a href="#all" id="full-directory-folder" class="pill-box folder folder-link" onclick="showAllNotes(); showNotesDir()">
                            All Notes
                        </a>

                        {% for folder in folders %}
                            <a href="#{{ folder.folder_name }}" class="pill-box folder folder-link" onclick="showFolderNotes('{{ folder.folder_id }}'); showNotesDir()" data-folder-id="{{ folder.folder_id }}">
                                {{ folder.folder_name }}
                            </a>
                        {% endfor %}

                        <form method="post" style="max-width: 20px">
                            {{ form.hidden_tag() }}
                            {{ form.new_folder_name(size=32, placeholder="New Folder Name", required=true) }}
                            <button type="submit">Create</button>
                        </form>

                    </div>
        

                    <div id="notes-directory" class="column">
                        <div class=hotbar>

                            <select id="sort-by-button" class="pill-box hotbar-button">
                                    <option value="date-edited">Date Edited</option>
                                    <option value="date-created">Date Created</option>
                                    <option value="title">Title</option>
                            </select>

                        </div>
                
                        {% for note in notes %}
                            <a class="pill-box note" data-folder-id="{{ note.folder_id }}" onclick="showNoteContent(this, '{{ note.note_content }}')"> <!--showNoteContentName(this, '{{ note.note_content.splitlines()[0] }}')"--> <!--style="display: none;"-->
                                {{ note.note_content.splitlines()[0] }}
                            </a>
                        {% endfor %} 


                        <!--Right Click WIP-->
                        <div id="context-menu">
                            <ul>
                              <li onclick="handleContextMenuAction('Option 1')">Option 1</li>
                              <li onclick="handleContextMenuAction('Option 2')">Option 2</li>
                              <li onclick="handleContextMenuAction('Option 3')">Option 3</li>
                            </ul>
                        </div>
                        <!---->
        

                    </div>
        

                    <div id="main-content">
                        <b><div id="current-note-title" class=hotbar>
                            Current Note
                        </div></b>
                        
                        <div id="current-note">
                        </div>

                    </div>
        
                </div> 
            </div>
            <div class="split-content hidden" id="right-side">
                <div id="main-container">
                    <div id="sidebar" class="column">
                        <div class=hotbar>
                            <b>My Notes</b>
                        </div>

                        <a href="#all" id="full-directory-folder" class="pill-box folder folder-link" onclick="showAllNotes(); showNotesDir()">
                            All Notes
                        </a>

                        {% for folder in folders %}
                            <a href="#{{ folder.folder_name }}" class="pill-box folder folder-link" onclick="showFolderNotes('{{ folder.folder_id }}'); showNotesDir()" data-folder-id="{{ folder.folder_id }}">
                                {{ folder.folder_name }}
                            </a>
                        {% endfor %}

                        <form method="post" style="max-width: 20px">
                            {{ form.hidden_tag() }}
                            {{ form.new_folder_name(size=32, placeholder="New Folder Name", required=true) }}
                            <button type="submit">Create</button>
                        </form>

                    </div>
        

                    <div id="notes-directory" class="column">
                        <div class=hotbar>

                            <select id="sort-by-button" class="pill-box hotbar-button">
                                    <option value="date-edited">Date Edited</option>
                                    <option value="date-created">Date Created</option>
                                    <option value="title">Title</option>
                            </select>

                        </div>
                
                        {% for note in notes %}
                            <a class="pill-box note" data-folder-id="{{ note.folder_id }}" onclick="showNoteContent(this, '{{ note.note_content }}')"> <!--showNoteContentName(this, '{{ note.note_content.splitlines()[0] }}')"--> <!--style="display: none;"-->
                                {{ note.note_content.splitlines()[0] }}
                            </a>
                        {% endfor %} 


                        <!--Right Click WIP-->
                        <div id="context-menu">
                            <ul>
                              <li onclick="handleContextMenuAction('Option 1')">Option 1</li>
                              <li onclick="handleContextMenuAction('Option 2')">Option 2</li>
                              <li onclick="handleContextMenuAction('Option 3')">Option 3</li>
                            </ul>
                        </div>
                        <!---->
        

                    </div>
        

                    <div id="main-content">
                        <b><div id="current-note-title" class=hotbar>
                            Current Note
                        </div></b>
                        
                        <div id="current-note">
                        </div>

                    </div>
        
                </div>
            </div>
        </div> 
    </div> 

    
    <script>
        var allNotes = document.querySelectorAll('.pill-box.note');
        var notesArray = Array.from(allNotes);

        function showNotesDir() {
            var notesDir = document.querySelector('#notes-directory'); 
            notesDir.style.display = 'block'; 
        }

        function showAllNotes() {
            allNotes.forEach(function (note) {
                note.style.display = 'block';
            });
        }

        function showFolderNotes(link) {
            allNotes.forEach(function (note) {
                note.style.display = 'block';
            });

            var excludedNotes = document.querySelectorAll('.pill-box.note:not([data-folder-id="' + link + '"])');
            excludedNotes.forEach(function (note) { 
                note.style.display = 'none';
            });
        }


        function showNoteContent(selectedNote, content) {
            var currentNoteContainer = document.getElementById('current-note');
            
            currentNoteContainer.innerHTML = content;

            selectedNote.classList.add('selected');
        }

        function searchNotes() {
        var searchInput = document.getElementById('search-bar').value.toLowerCase();

        allNotes.forEach(function (note) {
            var noteContent = note.innerText.toLowerCase();
            if (noteContent.includes(searchInput)) {
                note.style.display = 'block';
            } else {
                note.style.display = 'none';
            }
        });
    }
        /* Display Content Name WIP */
        function showNoteContentName(selectedNote, noteTitle) {
            var currentNoteContainer = document.getElementById('current-note-title');
            
            currentNoteContainer.innerHTML = noteTitle;

            selectedNote.classList.add('selected');
        }
        /* Display Content Name WIP END */


        /* Right Click WIP */
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
            const contextMenu = document.getElementById('context-menu');
            contextMenu.style.display = 'block';
            contextMenu.style.left = e.pageX + 'px';
            contextMenu.style.top = e.pageY + 'px';

            document.addEventListener('click', function hideContextMenu() {
            contextMenu.style.display = 'none';
            document.removeEventListener('click', hideContextMenu);
            });
        });
        function handleContextMenuAction(option) {
            
        }
        function toggleSplitScreen() {
            const rightSide = document.getElementById('right-side');
            rightSide.classList.toggle('hidden');
        }

        function exitSplitScreen() {
            const rightSide = document.getElementById('right-side');
            rightSide.classList.add('hidden');
        }
        /* Right Click WIP END */

    </script>
{% endblock %}

<!--STOP-->
<!--STOP2-->
