{% extends "home_blank.html"%}

<title>My Notes</title>

<style>
    #notes-directory {
        background-color: #3E424B;      
    }

    #full-directory-folder { /*All Files Folder mofifier (temp)*/
        background-color: #DAA520;
    }

    .note {
        background-color: var(--background-light);
    }

    .folder {          
        background-color: var(--background);
    }

    .subfolder {
        display: none;
        margin-left: 10px;
    }  
</style>

{% block content %}
    <div id="app-container">
        <h1>My Notes</h1>
    
        <div id="main-container">  <!--container persists on all pages (M)-->
            <div id="sidebar" class="column">  <!--container persists on all pages (S)-->
            
                <!-- 'All Notes' Special Folder-->
                <div id="full-directory-folder" class= "pill-box folder" onclick="toggleContainer()">
                    All Notes
                    <div class="pill-box subfolder folder">
                        Subfolder 1
                    </div>
                    <div class="pill-box subfolder folder">
                        Subfolder 2
                    </div>
                </div>
                
            </div>  <!--container persists on all pages (/S)-->
        
            <!-- WIP Notes List-->
            <div id="notes-directory" class="column">
                <div class="pill-box note">Note 1</div>
                <div class="pill-box note">Note 2</div>
                <!--Example Notes^-->
            </div>
        
            <!-- Content Portion of Page (should scale when 'Notes list'^ (notes-directory) is removed)-->
            <div id="main-content">
                Shit goes here...
        
            </div>
        
        </div>  <!--container persists on all pages (/M)-->
    </div>  
{% endblock %}