{% extends "home_blank.html"%}

<title>My Notes</title>

<!--
<style>
    #notes-directory {
        background-color: #3E424B;      
    }

    #full-directory-folder { /*All Files Folder mofifier (temp)*/
        background-color: #DAA520;
    }

    .note {
        background-color: var(--background-light);
    }

    .folder {
        color: var(--text);          
        background-color: var(--background);
    }

    .subfolder {
        display: none;
        margin-left: 10px;
    }  

</style>
-->

{% block content %}
    <div id="app-container">
        <h1>My Notes</h1>
    
        <div id="main-container">

            <div id="sidebar" class="column">
                <div class=hotbar>
                    <b>My Notes</b>
                </div>

                <!-- 'All Notes' Special Folder-->

                <a href="#all" id="full-directory-folder" class="pill-box folder folder-link" onclick="click_folder('all')" data-folder-id="all">
                    All Notes
                </a>
                {% for folder in folders %}
                    <a href="#{{ folder.folder_name }}" class="pill-box folder folder-link" onclick="click_folder('{{ folder.folder_id }}')" data-folder-id="{{ folder.folder_id }}">
                        {{ folder.folder_name }}
                    </a>
                {% endfor %}

            </div>
        
            <!-- WIP Notes List-->
            <div id="notes-directory" class="column">
                <div class=hotbar>
                    <a class="pill-box hotbar-button">
                        Sort
                    </a>
                </div>
                {% for note in notes %}
                    <a class="pill-box note" data-folder-id="{{ note.folder_id }}" style="display: none;">
                        {{ note.note_content.splitlines()[0] }}
                    </a>
                {% endfor %}
            </div>
        
            <!-- Content Portion of Page -->
            <div id="main-content">
                <div class=hotbar>
                    *buttons*
                </div>

                Shit goes here...

        
            </div>
        
        </div>  
    </div> 

    
    <script>
        function click_folder(link) {
            var allNotes = document.querySelectorAll('.pill-box.note');
            allNotes.forEach(function (note) {
                note.style.display = 'none';
            });
    
            var folderNotes = document.querySelectorAll('.pill-box.note[data-folder-id="' + link + '"]');
            folderNotes.forEach(function (note) {
                note.style.display = 'block';
            });
        }
    </script>
{% endblock %}

<!--STOP-->
<!--STOP2-->